{# views/apps/file-explorer.hbs #}
{% extends "layouts/dash.hbs" %}

{% block head_styles %}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
  />
  <!-- elFinder core styles -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='vendor/elfinder/css/elfinder.min.css') }}"
  >
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='vendor/elfinder/css/theme.css') }}"
  >
{% endblock %}

{% block content %}
  <div class="mb-3">
    <select id="deviceSelect" class="form-select">
      {% for dev in devices %}
        <option value="{{ dev.id }}">{{ dev.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div id="fileExplorer" style="height:600px"></div>
{% endblock %}

{% block scripts %}
  <!-- jQuery UI (required by elFinder) -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
  ></script>
  <!-- full build of elFinder (includes Quicklook) -->
  <script
    src="{{ url_for('static', filename='vendor/elfinder/js/elfinder.full.js') }}"
  ></script>
  <!-- our custom init -->
  <script src="{{ url_for('static', filename='js/apps/file-explorer.js') }}"></script>
{% endblock %}
