{% extends "layouts/dash.hbs" %}

{% block head_styles %}
  <!-- elFinder CSS (theme + core) -->
  <link rel="stylesheet"
        href="{{ url_for('static', filename='vendor/elfinder/css/elfinder.min.css') }}">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='vendor/elfinder/css/theme.css') }}">
{% endblock %}

{% block content %}
  <div class="mb-3">
    <select id="deviceSelect" class="form-select">
      {% for dev in devices %}
        <option value="{{ dev.id }}">{{ dev.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div id="fileExplorer" style="height:600px"></div>
{% endblock %}

{% block scripts %}
  <!-- jQuery UI (must come before elFinder) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!-- elFinder core -->
  <script src="{{ url_for('static', filename='vendor/elfinder/js/elfinder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/file-explorer.js') }}"></script>
{% endblock %}
