{% extends "layouts/dash.hbs" %}

{# ① elFinder CSS – local path #}
{% block head_styles %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='vendor/elfinder/css/elfinder.min.css') }}">
{% endblock %}

{% block content %}
  <div class="mb-3">
    <select id="deviceSelect" class="form-select">
      {% for dev in devices %}
        <option value="{{ dev.id }}">{{ dev.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div id="fileExplorer" style="height:600px"></div>
{% endblock %}

{# ② JS – **no extra jQuery** (layouts/dash already loads it) #}
{% block scripts %}
  <script src="{{ url_for('static', filename='vendor/elfinder/js/elfinder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/apps/file-explorer.js') }}"></script>
{% endblock %}
