<!-- layouts/dash.hbs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<title>{{ gettext("dashboard_title") }}</title>-->
    <title>{% block title %}{{ t("dashboard_title") }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Factory Lens Dashboard" />
    <meta name="author" content="Microlumin" />
    <meta name="keywords" content="Factory Lens Dashboard" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logos/favicon.ico') }}" />

    <!-- Icon Library (e.g., FontAwesome or Typicons) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Core CSS Files -->
    <link id="themeColors" rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>

    <!-- Custom CSS for Footer Fix -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .page-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .body-wrapper {
            flex-grow: 1;
        }
        footer {
            padding-top: 20px;
        }
    </style>
    
    {# Allow child templates to inject extra styles #}
    {% block head_styles %}{% endblock %}

  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="{{ url_for('static', filename='img/logos/favicon.ico') }}" alt="loader" class="lds-ripple img-fluid" />
    </div>

    <!-- Main Wrapper -->
    <div class="page-wrapper d-flex flex-column min-vh-100" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      
      <!-- Sidebar Start -->
      {% include "partials/sidebar.hbs" %}
      <!-- Sidebar End -->

      <!-- Body Wrapper -->
      <div class="body-wrapper d-flex flex-column flex-grow-1 min-v-0">
        
        <!-- Navbar Start -->
        {% include "partials/navbar.hbs" %}
        <!-- Navbar End -->

        <!-- Content Start -->
        <div class="container-fluid flex-grow-1 h-0 overflow-auto">
          {% block content %}CONTENT HERE{% endblock %}
        </div>
        <!-- Content End -->

        <!-- Footer Start -->
        {% include "partials/footer.hbs" %}
        <!-- Footer End -->
      </div>
    </div>

    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-5 text-center">
            <input class="form-control form-control-lg" placeholder="Search…" autofocus>
          </div>
        </div>
      </div>
    </div>

    <!-- JS Libraries (required for the page) -->
    <script src="{{ url_for('static', filename='libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/simplebar/dist/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
